@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  color: #262626;
  font-size: 17px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

section {
  text-align: center;
}

.grid {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.btn {
  border: none;
  background: transparent;
  text-transform: uppercase;
}

h1 {
  font-weight: 700;
  font-size: 60px;
}

h2 {
  font-weight: 700;
  font-size: 90px;
}

h3 {
  font-weight: 700;
  font-size: 40px;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?z9brmy");
  src: url("../fonts/icomoon.eot?z9brmy#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?z9brmy") format("truetype"), url("../fonts/icomoon.woff?z9brmy") format("woff"), url("../fonts/icomoon.svg?z9brmy#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon1:before {
  content: "🌣";
}

.icon-icon2:before {
  content: "";
}

.icon-icon3:before {
  content: "";
}

.icon-icon4:before {
  content: "";
}

.form-contact {
  display: flex;
  flex-direction: column;
}

.form-contact [class^="form-contact__"] {
  width: 100%;
  background-color: rgba(0, 196, 196, 0.5);
  border: none;
  font-size: 15px;
  color: #f9f8fb;
  padding: 18px 20px;
}

.form-contact [class^="form-contact__"]::placeholder {
  font-size: 15px;
  color: #f9f8fb;
}

.form-contact [class^="form-contact__"]:focus {
  background-color: #00c4c4;
  border-left: 5px solid #355b82;
}

.form-contact [class^="form-contact__"]:not(:last-child) {
  margin-bottom: 15PX;
}

.form-contact__comment {
  height: 250px;
  resize: none;
}

.nav {
  list-style: none;
}

.nav__item {
  display: inline-block;
  font-size: 16px;
  position: relative;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

.nav__item:hover .nav__link:before {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ff6033;
}

.nav__item--active .nav__link:before {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ff6033;
}

.nav__link {
  text-decoration: none;
  color: #262626;
  font-size: 16px;
  font-weight: 600;
}

.banner {
  background-image: url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.btn--coral {
  display: inline-block;
  text-align: center;
  min-width: 200px;
  min-height: 55px;
  padding: 20px;
  background-color: #ff6033;
  color: #f9f8fb;
}

.btn--seablue {
  display: inline-block;
  text-align: center;
  min-width: 200px;
  min-height: 55px;
  padding: 20px;
  background-color: #5585a2;
  color: #f9f8fb;
}

.btn--olive {
  display: inline-block;
  text-align: center;
  min-width: 200px;
  min-height: 55px;
  padding: 20px;
  background-color: #96b92c;
  color: #f9f8fb;
  min-width: 170px;
}

.btn--red {
  display: inline-block;
  text-align: center;
  min-width: 200px;
  min-height: 55px;
  padding: 20px;
  background-color: #f72b3b;
  color: #f9f8fb;
}

.btn:active, .btn:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.hero {
  text-align: left;
  padding: 255px 0 400px 0;
  padding-bottom: 405px;
}

.hero__title {
  font-weight: 900;
  float: left;
  margin-bottom: 34px;
}

.hero__title:after {
  content: '';
  display: block;
  clear: both;
}

.hero__text {
  float: left;
  margin-bottom: 34px;
}

.hero__link {
  padding: 10px 25px;
  background-color: #ff6033;
  color: #f9f8fb;
  float: left;
}

.hero__scroll {
  position: absolute;
  left: 50%;
  bottom: 5%;
  width: 23px;
  height: 37px;
  margin-left: -11.5px;
  background-image: url("../img/hero-scroll-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.header {
  position: relative;
}

.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-family: "Pacifico", cursive;
  font-size: 50px;
  color: #262626;
}

.about {
  color: #f9f8fb;
  background-color: #00b1b1;
  padding: 75px 0;
}

.about__content {
  text-align: left;
}

.about__title {
  margin-bottom: 35px;
}

.about__text {
  line-height: 27px;
}

.services {
  background-color: #70bfff;
  padding: 180px 0 150px 0;
}

.services__list {
  list-style: none;
}

.services__item {
  display: block;
  position: relative;
}

.services__item:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.services__link {
  display: flex;
  justify-content: space-between;
  background-color: #f9f8fb;
  width: 400px;
  height: 100px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #262626;
  align-items: center;
}

.services__link--left {
  display: flex;
  align-items: center;
  margin: auto;
}

.services__link--rigth {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-left: 2px solid #262626;
  font-size: 54px;
}

.services__img {
  background-image: url("../img/services-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 462px;
  width: 527px;
  padding-left: 47px;
  position: relative;
  margin-top: -80px;
}

.services__devider {
  position: absolute;
  right: 25%;
  width: 1px;
  height: 100%;
  background-color: #262626;
}

.services__title {
  word-break: keep-all;
  overflow: visible;
  position: absolute;
  top: 25%;
  left: 25%;
  color: #f9f8fb;
}

.galery {
  background-color: #ffe92f;
  padding: 100px 0 120px 0;
  text-align: center;
}

.galery__title {
  margin-bottom: 50px;
}

.galery__text {
  margin-bottom: 50px;
}

.galery__portfolio {
  font-size: 0;
  margin-bottom: 50px;
}

.galery__portfolio img {
  max-width: 100%;
  width: 100%;
  margin-bottom: 20px;
}

.galery__link {
  font-size: 20px;
  font-weight: 300;
  color: #f9f8fb;
  background-color: #5585a2;
  padding: 20px 43px;
}

.subscribe {
  padding: 150px 0 165px 0;
  background-color: #f9f8fb;
  background-image: url("../img/subscribe-bg.png");
  background-position: right;
  background-size: cover;
  text-align: left;
}

.subscribe__title {
  margin-bottom: 35px;
}

.subscribe__text {
  margin-bottom: 35px;
}

.subscribe__email {
  width: 570px;
  height: 55px;
  border: 1px solid #262626;
  padding-left: 15px;
  margin-right: 30px;
}

.subscribe__btn {
  width: 170px;
  height: 55px;
  color: #f9f8fb;
  font-size: 20px;
  background-color: #96b92c;
}

.subscribe__btn:active {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.blog {
  padding: 100px 0 120px 0;
  background-color: #b07cf7;
  text-align: center;
  color: #f9f8fb;
}

.blog__title {
  margin-bottom: 35px;
}

.blog__text {
  margin-bottom: 50px;
}

.blog__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.blog__item {
  display: block;
  text-decoration: none;
  color: #f9f8fb;
  position: relative;
  min-height: 326px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 50%);
}

.blog__link {
  display: block;
}

.blog__date {
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: rgba(36, 36, 36, 0.5);
  color: #f9f8fb;
  border-radius: 5px;
  position: absolute;
  top: 30px;
  left: 30px;
  padding: 9px;
}

.blog__date--number {
  font-size: 32px;
  font-weight: 700;
  line-height: 0.781;
  margin-top: -3px;
}

.blog__date--month {
  font-size: 21px;
  font-weight: 800;
}

.blog__description {
  font-size: 20px;
  line-height: 25px;
  text-align: left;
  padding: 0 20px;
  margin-bottom: 21px;
  color: #f9f8fb;
}

.blog__time {
  font-size: 13px;
  line-height: 25px;
  text-align: left;
  padding: 0 20px;
  margin-bottom: 25px;
  color: #f9f8fb;
}

.contact {
  padding: 100px 0 120px 0;
  background-image: url("../img/contact-bg.png");
  background-position: center;
  background-size: cover;
}

.contact__title {
  margin-bottom: 50px;
}

.contact__text {
  margin-bottom: 50px;
}

.contact__list {
  list-style: none;
  text-align: left;
}

.contact__item {
  font-size: 20px;
  font-weight: 300;
}

.contact__item strong {
  display: block;
  font-size: 17px;
  font-weight: 700;
}

.footer {
  padding: 32px 0;
  background-color: #262626;
  color: #b9b9b9;
}

.footer__box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer__coopyrigth {
  font-size: 16px;
}

.footer__logo {
  font-size: 25px;
  font-family: "Pacifico", cursive;
}

.footer__autor {
  font-size: 15px;
}

.footer__autor strong {
  color: #f72b3b;
}
