* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  color: #262626;
}

a {
  text-decoration: none;
}

.grid {
  width: 1200px;
  padding: 0 15px;
}

.header .grid {
  display: flex;
}

.header__logo a {
  font-family: "Pacifico", cursive;
  font-size: 50px;
}
