@mixin page-title($font-size) {
    font-weight: 700;
    font-size: $font-size;
}

@mixin btn($btn-color) {
    display: inline-block;
    text-align: center;
    min-width: 200px;
    min-height: 55px;
    padding: 20px;
    background-color: $btn-color;
    color: $color-white;

}