//fonts
$font-raleway:'Raleway',
sans-serif;
$font-pacif:'Pacifico',
cursive;
//color

$color-black: #262626;
$color-coral: #ff6033;
$color-white: #f9f8fb;
$color-blue: #00b1b1;

//path
$path-img: '../img';