//fonts
$font-raleway:'Raleway',
sans-serif;
$font-pacif:'Pacifico',
cursive;
//color

$color-black: #262626;
$color-coral: #ff6033;
$color-white: #f9f8fb;
$color-blue: #00b1b1;
$color-aqua:#70bfff;
$color-mustard:#ffe92f;
$color-seablue: #5585a2;
$color-olive: #96b92c;
$color-purple:#b07cf7;
$color-shadow: rgba(36, 36, 36, 0.5);
$color-red:#f72b3b;
$color-cyan:rgba(0, 196, 196, 0.5);
$color-cyan-solid:#00c4c4;
$color-navy:#355b82;
$color-gray:#b9b9b9;


//path
$path-img: '../img';


//icons
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-icon1: "\1f323";
$icon-icon2: "\e901";
$icon-icon3: "\e902";
$icon-icon4: "\e903";
