//fonts
$font-raleway:'Raleway',
sans-serif;
$font-pacif:'Pacifico',
cursive;
//color

$color-black: #262626;
$color-coral: #ff6033;
$color-white: #f9f8fb;
$color-blue: #00b1b1;
$color-aqua:#70bfff;
$color-mustard:#ffe92f;
$color-seablue: #5585a2;
//path
$path-img: '../img';