.about {

    color: $color-white;
    background-color: $color-blue;
    padding: 75px 0;

    &__content {
        text-align: left;
    }

    &__title {
        margin-bottom: 35px;
    }


    &__text {
        line-height: 27px;
    }
}