.blog {
    padding: 100px 0 120px 0;
    background-color: $color-purple;
    text-align: center;
    color: $color-white;


    &__title {
        margin-bottom: 35px;
    }

    &__text {

        margin-bottom: 50px;
    }

    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;

    }

    &__item {
        display: block;
        text-decoration: none;
        color: $color-white;
        position: relative;
        min-height: 326px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 50%)
    }

    &__link {
        display: block;
    }

    &__date {
        width: 60px;
        height: 60px;
        text-align: center;
        background-color: $color-shadow;
        color: $color-white;
        border-radius: 5px;
        position: absolute;
        top: 30px;
        left: 30px;
        padding: 9px;

        &--number {
            font-size: 32px;
            font-weight: 700;
            line-height: 0.781;
            margin-top: -3px;
        }

        &--month {
            font-size: 21px;
            font-weight: 800;
        }
    }


    &__description {
        font-size: 20px;
        line-height: 25px;
        text-align: left;
        padding: 0 20px;
        margin-bottom: 21px;
        color: $color-white;
    }



    &__time {
        font-size: 13px;
        line-height: 25px;
        text-align: left;
        padding: 0 20px;
        margin-bottom: 25px;
        color: $color-white;
    }






}