.galery {


    background-color: $color-mustard;
    padding: 100px 0 120px 0;
    text-align: center;

    &__title {
        margin-bottom: 50px;
    }

    &__text {
        margin-bottom: 50px;
    }

    &__portfolio {
        
        font-size: 0;

        img {
            max-width: 100%;
            width: 100%;
            margin-bottom: 20px;
        }

        margin-bottom: 50px;
    }



    &__link {
        font-size: 20px;
        font-weight: 300;
        color: $color-white;
        background-color: $color-seablue;
        padding: 20px 43px;
    }


}