.header {
position: relative;


    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-family: $font-pacif;
        font-size: 50px;
        color: $color-black;
    }



}
