.services {

    background-color: $color-aqua;
    padding: 180px 0 150px 0;



    &__list {
        list-style: none;
    }

    &__item {
        display: block;
        position: relative;

        &:hover {
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
        }
    }

    &__link {

        display: flex;
        justify-content: space-between;
        background-color: $color-white;
        width: 400px;
        height: 100px;
        margin-bottom: 20px;
        text-align: center;
        font-family: $font-raleway;
        font-size: 20px;
        font-weight: 700;
        color: $color-black;
        align-items: center;

        &--left {
            display: flex;
            align-items: center;
            margin: auto;

        }

        &--rigth {
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-left: 2px solid $color-black;
            font-size: 54px;



        }


    }

    &__img {
        background-image: url('#{$path-img}/services-bg.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 462px;
        width: 527px;
        padding-left: 47px;
        position: relative;
        margin-top: -80px;


    }

    &__devider {
        position: absolute;
        right: 25%;
        width: 1px;
        height: 100%;
        background-color: $color-black;


    }

    &__title {
        word-break: keep-all;
        overflow: visible;
        position: absolute;
        top: 25%;
        left: 25%;
        color: $color-white;
    }
}