* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:after,
*:before {
    box-sizing: border-box;
}

body {
    font-family: $font-raleway;
    color: $color-black;
}

a {
    text-decoration: none;
}

.grid {
    width: 1200px;
    padding: 0 15px;

}